RewriteEngine On

RewriteRule ^$ index.html [L]
RewriteRule ^playground$ playground.html [L]
RewriteRule ^docs$ docs.html [L]
RewriteRule ^internals$ internals.html [L]

RewriteRule ^playground/$ playground.html [L]
RewriteRule ^docs/$ docs.html [L]
RewriteRule ^internals/$ internals.html [L]
